{% from "macros/_form.html" import render_form %}
{% from "macros/_misc.html" import render_signup_nav with context %}

{% set page_title = 'Sign in' %}

{% extends "layouts/base.html" %}

{#% block topbar %}
{% endblock %#}

{% block body %}
<div class='row'>
    <div class="col-md-4 col-md-offset-4">

        {{ render_signup_nav() }}

        <div class="panel panel-default panel-borderless">
            <div class="panel-body">
                {{ render_form(url_for('frontend.login'), form) }}

                <p class="text-muted">
		{% trans %}Don't have an account? Write to Software Workers for getting one!{% endtrans %}
                </p>
            </div>
        </div>
        
    </div>
</div>
{% endblock %}
