{% extends 'layouts/base.html' %}

{% set page_title = 'Home' %}

{% block body %}
<div class="jumbotron">
    <h1>Pyamm</h1>
    <p>{% trans %}Application for user administration (produced and developed by Software Workers srl).{% endtrans %}</p>
    <p>{% trans %}Please login to access you configuration panel.{% endtrans %}</p>
    <p><a role="button" href="{{ url_for('frontend.login')}}" class="btn btn-lg btn-primary"><strong>{% trans %}Log In{% endtrans %}»</strong></a></p>
</div>
{% endblock %}
