{% from "macros/_form.html" import render_form %}

{% extends 'layouts/user.html' %}

{% set page_title = 'Profile' %}

{% block panel_right %}
<div class="panel panel-default">
    <div class="panel-heading">
        <b>Profile</b>
    </div>
    <div class="panel-body row">
        <div class="col-md-6">
            {{ render_form(url_for('user.profile'), form) }}
        </div>
    </div>
    <div class="panel-footer">
        Created at {{ current_user.create_at }} Update at {{ current_user.update_at }}
    </div>
</div>
{% endblock %}
