{% extends 'layouts/base.html' %}

{% block body %}
<div class="row">
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <b>{{ current_user.name }}</b>
            </div>
            <div class="panel-body">
                <ul class="nav nav-pills nav-stacked">
                    <li role="presentation" class="{% if request.endpoint == 'user.profile' %}active{% endif %}">
                        <a href="{{ url_for('user.profile') }}">{% trans %}Profile{% endtrans%}</a>
                    </li>
                    <li role="presentation" class="{% if request.endpoint == 'user.password' %}active{% endif %}">
                        <a href="{{ url_for('user.password') }}">Password</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        {% block panel_right %}
        {% endblock %}
    </div>
</div>
{% endblock %}
