
{% macro breadcrumb(nav) %}
{# Create a navigation breadcrumb.

Usage:
 {{ breadcrumb(nav) }}

with:
    nav=[('Server', 'http:/...'), ('example.it', 'http...')]

output:
#}
<ol class="breadcrumb">
    {% for item in nav %}
        {% if loop.last %}
            {% set is_active = ' class="active"' %}
        {% else %}
            {% set is_active = '' %}
        {% endif %}
    <li{{ is_active }}>
        <a href='{{ item[1]|safe }}'>{{ item[0] }}</a>
    </li>
    {%- endfor %}
</ol>
{% endmacro %}


{% macro Table(data) %}
{# This macro will render a table form the jobs list.

data = {'head': ['A', 'B'],
        'body': [['aa', 'ab'], ['ba', 'bb']]}

#}
<thead>
    <tr>
    {%- for colname in data.head %}
        <th>{{ colname }}</th>
    {%- endfor %}
    </tr>
<thead>
<tbody>
    {% for record in data.body %}
    <tr>
        {%- for cell in record %}
	<td{{ colspan }}>{{ cell|safe }}</td>
        {%- endfor %}
    </tr>
    {% endfor %}
</tbody>
{% endmacro %}


{% macro jobTable(head, body) %}
{# This macro will render a table form the jobs list.

head = ('A', 'B', 'C')
body = [{'A': 'dfdfd', 'B': 'datadata', 'C': 'datas'}, {...}]

#}
<thead>
    <tr>
{%- for colname in head %}
        <th>{{ colname }}</th>
{%- endfor %}
    </tr>
<thead>
<tbody>
{% if data is not iterable %}
    <tr><td>No values</td></tr>
{% else %}
    {% for record in body %}
    <tr>
        {% for key in head %}
        <td>
	    <div class="table-cell">
             {{ record[key]|default('') }}
            </div>
	</td>
        {% endfor %}
    </tr>
    {% endfor %}
{% endif %}
</tbody>
{% endmacro %}


